<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    
        <title>Bookit</title>
        
    </head>
    <body>
        <form method="POST"> 
            <input type="text" name="start_date">
            <input type="submit" value="filter">
        </form>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Users</th>
            </tr>
            {% for room, occupied_set in book_list%}
                <tr>
                    <td> {{ room.name  }} </td>
                    <td> {{ room.type.name}} </td>
                    <td> {{ room.description }} </td>
                    <td>
                        <table border="0">
                            <tr>
                                {% for occupied in occupied_set %}
                                    <td>{{ occupied.order.patient.name  }} ({{ occupied.start_date }}) ({{ occupied.end_date }})</td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
                
            {% endfor %}
        </table>
    </body>
</html>
