{% extends "pansionat/index.html" %}

{% block title %} Клиенты {%  endblock  %}

{% block head %}
    <style type="text/css">
        @import "/static/dataTables/media/css/demo_page.css";
        @import "/static/dataTables/media/css/demo_table.css";
        @import "/static/jquery-ui/themes/base/jquery.ui.all.css";
    </style>
    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>

    <link rel="stylesheet" href="/static/Refresh.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#occupied').dataTable();
            } );
            $('input:submit').button()
    </script>
 {%  endblock  %}

{% block allcontent %}
    <h1>Клиенты</h1>
    <table border="0" id = "occupied" class = "display">
    <thead>
    <th>Наименование</th>
    <th></th>
    </thead>
            {% for client in clients_list %}
                <tr>
                <td>
                    {{ client.name }}
                </td>
                <td>
                    <a href="/clients/{{ client.id }}/">&rsaquo;&rsaquo;&rsaquo;&rsaquo;</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    <form action="/clients/new/">
        <input type="submit" value="Создать клиента"/>
    </form>
{%  endblock  %}
