<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="Information architecture, Web Design, Web Standards." />
<meta name="Keywords" content="your, keywords" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="Erwin Aligam - ealigam@gmail.com" />
<meta name="Robots" content="index,follow" />

<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />

<title>{% block title %} Хопровские зори {% endblock %}</title>
{% block head %}{% endblock %}
	
</head>

<body style="background-color: #ffffff;text-align: left;">
		<!--header -->
        <div id="top" style="height:2px;"></div>
	<div id="header">
            <div id="h_l" style="width:10px; background-color: #ffffff;"></div>
		<div id="bdy">
                <div id="h_c" style="width:100%;background-color: blue;height: 70px;"><h1 id="logo-text">Хопровские<span class="gray">зори</span></h1>
                    <h2 id="slogan">Пензенская область, г. Колышлей</h2></div>

            {% if user.is_authenticated %}
                <form action="/logout/" method="post" class="login">
                {% csrf_token %}
                <table><tr>
                    <td>{{ user }}</td>
                <td>
                    <a href="/logout/" style="font-size: 8px; color: white;">выйти</a>
                </td></tr></table>

            {% endif %}
            {% if not user.is_authenticated %}
                <form action="/login/" method="post" class="login">
                <input type="hidden" name="next" value="{{ next }}"/>
                {% csrf_token %}
                <table><tr><td>
                    Пользователь</td><td><input class="textbox" type="text" name="username" value="" /></td>
                <td rowspan="2"><input class="loginbutton" type="submit" name="Submit" value="Войти" /></td></tr><tr><td>
                    Пароль</td><td><input class="textbox" type="password" name="password" value="" /></td>
                </tr></table>

            {% endif %}
            </form>

		</div>
		
		<!-- menu -->	
		<div  id="menu"  style="width:100%;background-color: green;">
            {% block menu %}
                <ul>
                {% for item in menu_list %}
                    <li><a href="{{ item.href }}">{{ item.label }}</a></li>
                {% endfor %}
                </ul>
            {% endblock %}
		</div>					
			</div>
			</div>
		<!-- content-wrap starts here -->
		<div id="content-wrap">
            {%  block allcontent %}
				{% block content %}<div style="text-align: center"><img style="text-align: center; border: 0px; padding: 10px;" src="/static/gerb.gif"/></div> {% endblock %}
            {% endblock %}
		<!-- content-wrap ends here -->
		</div>
					
		<!--footer starts here-->
		<div id="footer">
			
			<p>
			&copy; 2011 <strong>Kesha&amp;LysiyH</strong>

		</div>	

</body>
</html>
