<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="Information architecture, Web Design, Web Standards." />
<meta name="Keywords" content="your, keywords" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="Erwin Aligam - ealigam@gmail.com" />
<meta name="Robots" content="index,follow" />

<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />

<title>{% block title %} Хопровские зори {% endblock %}</title>
{% block head %}{% endblock %}
	
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">
		
		<!--header -->
		<div id="header">			
				
			<h1 id="logo-text">Хопровские<span class="gray">зори</span></h1>
			<h2 id="slogan">Пензенская область, г. Колышлей</h2>
				
			<!--<form class="search" method="post" action="#">
				<p>
	  			<input class="textbox" type="text" name="search_query" value="" />
	 			<input class="button" type="submit" name="Submit" value="Поиск" />
				</p>
			</form>-->
				
		</div>
		
		<!-- menu -->	
		<div  id="menu">
            {% block mainmenu %}
            <ul>
				<li><a href="index.html">Пациенты</a></li>
				<li><a href="index.html">Номера</a></li>
				<li><a href="index.html">Питание</a></li>
				<li><a href="index.html">Отчеты</a></li>
			</ul>
            {% endblock %}
		</div>					
			
		<!-- content-wrap starts here -->
		<div id="content-wrap">
            {%  block allcontent %}
				{% block content %}{% endblock %}
            {% endblock %}
		<!-- content-wrap ends here -->
		</div>
					
		<!--footer starts here-->
		<div id="footer">
			
			<p>
			&copy; 2011 <strong>Kesha&amp;LysiyH</strong>

		</div>	

<!-- wrap ends here -->
</div>

</body>
</html>
