<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="Information architecture, Web Design, Web Standards." />
<meta name="Keywords" content="your, keywords" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="Erwin Aligam - ealigam@gmail.com" />
<meta name="Robots" content="index,follow" />

<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />

<title>{% block title %} Хопровские зори {% endblock %}</title>
{% block head %}{% endblock %}
	
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">
		
		<!--header -->
		<div id="header">			
				
			<h1 id="logo-text">Хопровские<span class="gray">зори</span></h1>
			<h2 id="slogan">Пензенская область, г. Колышлей</h2>

            {% if user.is_authenticated %}
                <form action="/logout/" method="post" class="login">
                {% csrf_token %}
                <table><tr>
                    <td>Пользователь:{{ user }}</td>
                </tr><tr><td>
                    <input type="submit" value="Выйти">
                </td></tr></table>

            {% endif %}
            {% if not user.is_authenticated %}
                <form action="/login/" method="post" class="login">
                <input type="hidden" name="next" value="{{ next }}"/>
                {% csrf_token %}
                <table><tr><td>
                    Пользователь:<input class="textbox" type="text" name="username" value="" /></td></tr><tr><td>
                    Пароль:<input class="textbox" type="password" name="password" value="" /><input class="button" type="submit" name="Submit" value="Войти" /></td>
                </tr></table>

            {% endif %}
            </form>
		    <!--<form class="search" method="post" action="#">
				<p>
	  			<input class="textbox" type="text" name="search_query" value="" />
	 			<input class="button" type="submit" name="Submit" value="Поиск" />
				</p>
			</form>-->
				
		</div>
		
		<!-- menu -->	
		<div  id="menu">
            {% block mainmenu %}
            <ul>
				<li><a href="/patients/">Пациенты</a></li>
				<li><a href="/rooms/">Номера</a></li>
				<li><a href="/orders/">Путевки</a></li>
				<li><a href="/reports/">Отчеты</a></li>
			</ul>
            {% endblock %}
		</div>					
			
		<!-- content-wrap starts here -->
		<div id="content-wrap">
            {%  block allcontent %}
				{% block content %}{% endblock %}
            {% endblock %}
		<!-- content-wrap ends here -->
		</div>
					
		<!--footer starts here-->
		<div id="footer">
			
			<p>
			&copy; 2011 <strong>Kesha&amp;LysiyH</strong>

		</div>	

<!-- wrap ends here -->
</div>

</body>
</html>
