{% extends "pansionat/index.html" %}

{% block title %} Сетка {%  endblock  %}

{% block head %}
    <style type="text/css">
        @import "/static/dataTables/media/css/demo_page.css";
        @import "/static/dataTables/media/css/demo_table.css";
        @import "/static/jquery-ui/themes/base/jquery.ui.all.css";
    </style>
    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.mouse.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.draggable.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.position.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.resizable.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.dialog.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>

<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dl').dialog({ autoOpen: false });
            $('#dl_h').dialog({ autoOpen: false });
            } );
        function update_links(id) {
            ids = id.split("_")
            id = ids[1]
            $('#dl_code').html(ids[2]);
            $('#dl_1').attr('href','/orders/room/'+id);
            $('#dl_2').attr('href','/orders/room/'+id+'/book');
            $('#dl').dialog('open');
        }
    </script>
 {%  endblock  %}

{% block allcontent %}
    <div id="dl_h" title="Подменю">
        <div id="huynya" ></div>
    </div>
    <div id="dl" title="Подменю номера">
        <table width="100%">
            <tr><td colspan="2"><div id="dl_code"> мест</div></td></tr>
            <tr><td><a id="dl_1" href="/orders/room/id/">Путевки</a></td></tr>
            <tr><td><a id="dl_2" href="/orders/room/id/book/">Заезд</a></td></tr>
        </table>
    </div>
    <h1>Сетка</h1>
    <table border="0" id = "occupied" class = "display">
            {% for q in res %}
                <tr>{% for r in q %}
                <td><a href="#" onclick="update_links(this.id); return false;" id="m_{{ r.0.id }}_{{ r.0.room_type.places }}">{{ r.0.name }}</a></td>
                    <td><a href="#" onclick="$('#huynya').html('{{ r.2 }}'); $('#dl_h').dialog('open');">{{ r.1 }}</a></td>
                    {% endfor %}
            </tr>
            {% endfor %}
    </table>
{%  endblock  %}