{% extends "pansionat/index.html" %}

{% block title %} Сетка {%  endblock  %}

{% block head %}
    <style type="text/css">
        @import "/static/dataTables/media/css/demo_page.css";
        @import "/static/dataTables/media/css/demo_table.css";
        @import "/static/jquery-ui/themes/base/jquery.ui.all.css";
    </style>
    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.mouse.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.draggable.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.droppable.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.position.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.resizable.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.dialog.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>
    <style>
        #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
        #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
        .ui-state-active { color: red; font: bold; }
    </style>
<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dl').dialog({ autoOpen: false });
            $('#dl_h').dialog({ autoOpen: false });
            $( ".draggable" ).draggable(({ revert: "invalid" }));
            $( ".droppable" ).droppable({
                hoverClass: "ui-state-active",
                drop: function( event, ui ) {
                    d_id_array = this.id.split('_');
                    q_id_array = ui.draggable[0].id.split('_');
                    if (d_id_array[1]!='') {
                        document.location = "/order/move/"+q_id_array[1]+"/"+d_id_array[1];
                    }
                    $( this )
                            .addClass( "ui-state-highlight" )
                            .find( "p" )
                            .html( "Dropped!" );
                }
            });
            } );
        function update_links(id) {
            ids = id.split("_")
            id = ids[1]
            $('#dl_code').html(ids[2]);
            $('#dl_1').attr('href','/orders/room/'+id);
            $('#dl_2').attr('href','/orders/room/'+id+'/book');
            $('#dl').dialog('open');
        }
    </script>
 {%  endblock  %}

{% block allcontent %}
    <div id="dl_h" title="Подменю">
        <div id="huynya" ></div>
    </div>
    <div id="dl" title="Подменю номера">
        <table width="100%">
            <tr><td colspan="2"><div id="dl_code"> мест</div></td></tr>
            <tr><td><a id="dl_1" href="/orders/room/id/">Путевки</a></td></tr>
            <tr><td><a id="dl_2" href="/orders/room/id/book/">Заезд</a></td></tr>
        </table>
    </div>
    <h1>Сетка <a href="/netpprint/">печать</a></h1>
    <table border="0" id = "occupied" class = "mdisplay">
            {% for q in res %}
                <tr>{% for r in q %}
                <td><a href="#" onclick="update_links(this.id); return false;" id="m_{{ r.0.id }}_{{ r.0.room_type.places }}"><div class='droppable' id="hz_{{ r.0.id }}">{{ r.0.name }}</div></a></td>
                    {% if r.3 %}
                        <td><table>
                        {% for pi in r.3 %}
                            <tr><td><div class='draggable' id="zh_{{ pi.2 }}">{{ pi.0 }}</div></td><td>{{ pi.1 }}</td></tr>
                        {% endfor %}
                        </table></td>
                    {% else %}
                        <td><a href="#" onclick="$('#huynya').html('{{ r.2 }}'); $('#dl_h').dialog('open');">{{ r.1 }}</a></td>
                    {% endif %}
                    {% endfor %}
            </tr>
            {% endfor %}
    </table>
{%  endblock  %}