{% extends "pansionat/index.html" %}

{% block title %} Бронирования {%  endblock  %}

{% block head %}
    <style type="text/css">
        @import "/static/dataTables/media/css/demo_page.css";
        @import "/static/dataTables/media/css/demo_table.css";
        @import "/static/jquery-ui/themes/base/jquery.ui.all.css";
    </style>
    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>

<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#occupied').dataTable();
            } );
    </script>
 {%  endblock  %}

{% block allcontent %}
    <h1>Список брони</h1>
    <table border="0" id = "occupied" class = "display">
    <thead>
    <th>Код</th>
    <th>Клиент</th>
    <th>Дата заезда</th>
    <th>Дата выезда</th>
    <th>Комната</th>
    <th>Пациент</th>
    <th>Сумма(руб)</th>
    <th></th>
    <th></th>
    </thead>
            {% for occupied in occupied_list %}
                <tr>
                <td>
                    {{ occupied.code }}
                </td>
                <td>
                    {{ occupied.customer.name }}
                </td>
                <td>
                    {{ occupied.start_date_n }}
                </td>
                    <td>
                        {{ occupied.end_date_n }}
                    </td>
                    <td>
                        {{ occupied.room.name }}
                    </td>
                    <td>
                        {{ occupied.patient.fio }}
                    </td>
                <td>
                    {{ occupied.price }}
                </td>
                    <td>
                        <a href="/illhistory/{{ occupied.id }}/">История болезни</a>/<a href="/mp/{{ occupied.id }}/">Лист назначений</a>
                    </td>
                <td>
                    <a href="nakl/{{ occupied.id }}/">Накладная</a>/
                        <a href="sf/{{ occupied.id }}/">Счет-фактура</a>/
                        <a href="pko/{{ occupied.id }}/">ПКО</a>/
                        <a href="rootik/{{ occupied.id }}/">Квиток</a>/
                        <a href="zayava/{{ occupied.id }}/">Заявление</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
{%  endblock  %}