{% extends "pansionat/bookit.html" %}

{% block title %} Формирование заказа {%  endblock  %}

{% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link href="/static/dataTables/media/css/demo_table.css" rel="stylesheet" type="text/css" />
        <link href="/static/jquery-ui/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="/static/main.css" rel="stylesheet" type="text/css" />

        <script src="/static/dataTables/media/js/jquery.js"></script>
        <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
        <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script> 
        <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script> 
        <script src="/static/jquery-ui/ui/jquery.ui.position.js"></script>
        <script src="/static/jquery-ui/ui/jquery.ui.autocomplete.js"></script>
        <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
        <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
        <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $.datepicker.setDefaults($.datepicker.regional['ru']);
                $('#id_start_date').datepicker();
                $('#id_end_date').datepicker();
                $('#id_birth_date').datepicker();
                    var availableTags = [
                        {% for customer in customers %}"{{ customer }}",{% endfor %}
                    ];
                    $( "#customer" ).autocomplete({
                        source: availableTags
                    });
                $( "#directive" ).autocomplete({
                    source: availableTags
                });

                $('#id_start_date').change(
                    function() {
                        sd = $('#id_start_date').datepicker("getDate");
                        ed = $('#id_end_date').datepicker("getDate");
                        price = Number($('#pr').val());
                        if ($('#id_is_with_child')[0].checked) {
                            price += Number($('#md').val())
                        }
                        $('#id_price').val(price*(1+((ed-sd)/86400000)));
                });
                $('#id_end_date').change(
                    function() {
                        sd = $('#id_start_date').datepicker("getDate");
                        ed = $('#id_end_date').datepicker("getDate");
                        price = Number($('#pr').val());
                        if ($('#id_is_with_child')[0].checked) {
                            price += Number($('#md').val())
                        }
                        $('#id_price').val(price*(1+((ed-sd)/86400000)));
                });
                $('#id_is_with_child').change(
                    function() {
                        sd = $('#id_start_date').datepicker("getDate");
                        ed = $('#id_end_date').datepicker("getDate");
                        price = Number($('#pr').val());
                        if ($('#id_is_with_child')[0].checked) {
                            price += Number($('#md').val())
                        }
                        $('#id_price').val(price*(1+((ed-sd)/86400000)));
                });
                $('input:submit').button()
                if ({{ pl }} < 2) {
                    $('#id_is_with_child').attr("disabled", true);
                }
                } );
        </script> 
{%  endblock  %}
        {% block form %}
            <form action="/order/" method="post">
                {% csrf_token %}
                <table border = "0">
                    <tr><td colspan="2">Свободных мест: {{ pl }}</td></tr>
                    <tr><th><label for="directive">Направляющая организация</label></th>
                        <td><input type="text" id="directive" name="directive" value="{{ dir }}">сз,хз,фсс,...{% if dir_error %}<ul class="errorlist"><li>{{ dir_error }}</li></ul>{% endif %}</td></tr>
                    <tr><td><input type="checkbox" name="d_add">добавить</td></tr>
                    <tr><th><label for="customer">Место работы</label></th>
                        <td><input type="text" id="customer" name="customer" value="{{ cus }}">{% if cus_error %}<ul class="errorlist"><li>{{ cus_error }}</li></ul>{% endif %}</td>
                    </tr>
                    <tr><td><input type="checkbox" name="c_add">добавить</td></tr>
                <tr><td colspan="2"><a href="/clients/new" target="_blank" style="font-size: 8px;">добавить организацию</a></td></tr>
                    {{ order_form.as_table }}
                </table>
                {% if patient_form %}
                    <table border = "0">
                        {{ patient_form.as_table }}
                    </table>
                {% endif %}
                <input type="hidden" id="pr" name="pr" value="{{ pr }}"/>
                <input type="hidden" id="md" name="md" value="730"/>
                <input type="submit" value="Сформировать заказ" />
            </form>
        {% endblock %}
