{% extends "pansionat/index.html" %}

{% block title %} Пациент {%  endblock  %}

{% block head %}
    <style type="text/css">
        @import "/static/dataTables/media/css/demo_page.css";
        @import "/static/dataTables/media/css/demo_table.css";
        @import "/static/jquery-ui/themes/base/jquery.ui.all.css";
    </style>
    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.datepicker.setDefaults($.datepicker.regional['ru']);
            $('#id_birth_date').datepicker();
            $('input:submit').button()
            $(':button').button()
            } );
    </script> 
<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />
 {%  endblock  %}

{% block allcontent %}
    <h1>Пациент</h1>
    <h2><a href="/patients/new">Добавить пациента</a></h2>
    {% if patient_id %}
        <table border="0">
            <tr>
                <td>
                    <a href="/orders/patient/{{ patient_id }}">Путевки</a>
                </td>
            </tr>
        </table>
    {% endif %}
    <form action = "/patients/save/" method="POST">
        {% csrf_token %}
        <table border="0" id = "occupied" class = "display">
            {{ patient_form.as_table}}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Сохранить">
                    </td>
                </tr>                            
            {% if patient_id %}
                <input type="hidden" name="patient_id" value="{{ patient_id }}"/>
            {% endif %}
        </table>
    </form>
    {% if patient_id %}
        <form action="/rooms/" id="rooms">
            <input type="hidden" name="patient_id" value="{{ patient_id }}"/>
            <input type="submit" value="Сформировать заказ"/>
        </form>
    {% endif %}
{%  endblock  %}
