{% extends "pansionat/index.html" %}

{% block title %} Пациент {%  endblock  %}

{% block head %}
    <style type="text/css">
        @import "/static/dataTables/media/css/demo_page.css";
        @import "/static/dataTables/media/css/demo_table.css";
        @import "/static/jquery-ui/themes/base/jquery.ui.all.css";
    </style>
    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>

<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />
 {%  endblock  %}

{% block mainmenu %}
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li  id="current"><a href="/patients">Пациенты</a></li>
        <li><a href="index.html">Персонал</a></li>
        <li><a href="/rooms">Номера</a></li>
        <li><a href="/orders">Путевки</a></li>
        <li><a href="/reports">Отчеты</a></li>
    </ul>
 {%  endblock  %}

{% block allcontent %}
    <h1>Пациент</h1>
    <table border="0" id = "occupied" class = "display">
                <tr>
                    <td>Фамилия</td>
                <td>
                    {{ patient.family }}
                </td>
        </tr>
        <tr>
                    <td>Имя</td>
                <td>
                    {{ patient.name }}
                </td>
        </tr>
        <tr>
                    <td>Отчество</td>
                <td>
                    {{ patient.sname }}
                </td>
        </tr>
        <tr>
                    <td>Дата рождения</td>
                <td>
                    {{ patient.birthdate }}
                </td>
        </tr>
        <tr>
                    <td>Должность</td>
                <td>
                    {{ patient.grade }}
                </td>
        </tr>
        <tr>
                    <td>Серия и номер паспорта</td>
                <td>
                    {{ patient.passport_number }}
                </td>
        </tr>
        <tr>
                    <td>Кем выдан</td>
                <td>
                    {{ patient.passport_whom }}
                </td>
        </tr>
        <tr>
                    <td>Адрес</td>
                <td>
                    {{ patient.address }}
                </td>
        </tr>
    <tr><td colspan="2"><a href="/orders/patient/{{ patient.id }}">Путевки</a></td></tr>
    </table>
{%  endblock  %}