{% extends "pansionat/index.html" %}

{% block title %} Отчеты {%  endblock  %}

{% block head %}
    <style type="text/css">
        @import "/static/dataTables/media/css/demo_page.css";
        @import "/static/dataTables/media/css/demo_table.css";
        @import "/static/jquery-ui/themes/base/jquery.ui.all.css";
    </style>
    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>

<link rel="stylesheet" href="/static/Refresh.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#occupied').dataTable();
            } );
    </script>
 {%  endblock  %}

{% block mainmenu %}
    <ul>
        <li><a href="/patients">Пациенты</a></li>
        <li><a href="/rooms">Номера</a></li>
        <li><a href="/orders">Путевки</a></li>
        <li id="current"><a href="/reports">Отчеты</a></li>
    </ul>
 {%  endblock  %}

{% block allcontent %}
    <h1>Периоды отчетности</h1>
    <h3><a href="/dietday">Порционник</a></h3>
    <a href="/mpreport">Отчет по процедуре за день</a>
    <a href="/netreport">Боольшой отчет по заселенным</a>
    <a href="/diets">Отчет по диетам за день</a>
    <a href="/report/1">Список въезжающих</a>
    <a href="/report/2">Список съезжающих</a>
    <a href="/report/3">Прайс-лист процедур</a>
    <a href="/report/4">Отчет по заселенным</a>
    <table border="0" id = "occupied" class = "display">
    <thead><th>Год</th><th>Месяц</th><th></th></thead>
            {% for t in t_list %}
                <tr>
                <td>
                    {{ t.year }}
                </td>
                <td>
                    {{ t.month }}
                </td>
                <td>
                    <a href="/reestr/{{ t.year }}/{{ t.month }}/">Реестр</a>&nbsp;/
                    <a href="/movinfo/{{ t.year }}/{{ t.month }}/">Итого</a>&nbsp;/
                    <a href="/movanal/{{ t.year }}/{{ t.month }}/">Анализ</a><a href="/movanal/{{ t.year }}/{{ t.month }}/xls">(x)</a>&nbsp;/
                    <a href="/mov/{{ t.year }}/{{ t.month }}/">Реестр отдыха</a>&nbsp;/
                    <a href="/mov/{{ t.year }}/{{ t.month }}/1/">ХЗ</a>&nbsp;/
                    <a href="/mov/{{ t.year }}/{{ t.month }}/2/">ПРОЧИЕ</a>&nbsp;/
                    <a href="/mov/{{ t.year }}/{{ t.month }}/3/">РЕАБИЛИТАЦИЯ</a>&nbsp;/
                    <a href="/mov/{{ t.year }}/{{ t.month }}/4/">ПЕНЗА ПРОФ</a>&nbsp;/
                    <a href="/mov/{{ t.year }}/{{ t.month }}/5/">САМАРА ПРОФ</a>&nbsp;/
                    <a href="/mov/{{ t.year }}/{{ t.month }}/6/">ПЕНЗА ФСС</a>&nbsp;/
                    <a href="/mov/{{ t.year }}/{{ t.month }}/7/">УЛ ПРОФ</a>&nbsp;/
                    <a href="/moves/{{ t.year }}/{{ t.month }}/">Движения</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
 {%  endblock  %}
