<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Бронь</title>
    <style type="text/css">
        table.tch td {
            border: 1px solid;
        }
        table.tch th {
            border: 1px;
            text-align: center;
        }
        table.tch {
            border:0;
            padding: 0;
            border-spacing: 0;
        }
        a:visited {
            color:blue;
        }
    </style>
    <style type="text/css">
        @import "/static/jquery-ui/themes/base/jquery.ui.all.css";
    </style>
    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.mouse.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.draggable.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.position.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.resizable.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.dialog.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.datepicker.setDefaults($.datepicker.regional['ru']);
            $('#diary_date').datepicker({dateFormat: 'yy-mm-dd'});
            $('#dl').dialog({ autoOpen: false });
            $('input:submit').button()
            $(':button').button()
            } );
    </script>
</head>
<body>
<div style="width: 100%;background-color: #eeeeee;border-bottom: 1px solid;" align="center">Рабочее место регистратора&nbsp;<a href="/rmreg/{{ pday }}">{{ pday }}</a>&nbsp;<a href="/rmreg/{{ nday }}">{{ nday }}</a>&nbsp;<form action="/rmreg/" method="post" name="date_form">{% csrf_token %}<input type="text" id="diary_date" name="diary_date"/><a href="#" onclick="document.date_form.action = '/rmreg/'+$('#diary_date').val()+'/'; document.date_form.submit(); return false;">Показать</a></form>
    &nbsp;<a href="/reports/">Отчеты</a>&nbsp;<a href="/rmregbook/">Бронь</a>&nbsp;<a href="/rmregbook/old">Отмененная бронь</a>&nbsp;<a href="/patients/new">Добавить пациента</a>&nbsp;<a href="/net/">Сетка</a>&nbsp;<a href="/netp/">Сетка с пациентами</a>&nbsp;<a href="#" onclick="$('#dl').dialog('open'); return false;">Поиск</a></div>
<a href="#" onclick="$('.addr').hide(); return false;">скрыть</a>/<a href="#" onclick="$('.addr').show();return false;">показать</a>

<table class="tch"><tr>
    <th rowspan="1">№ п./п.</th>
    <th rowspan="1">Дата заезда</th>
    <th rowspan="1">Дата выезда</th>
    <th rowspan="1">Название</th>
    <th rowspan="1">Телефон</th>
    <th rowspan="1">Номера</th>
    <th rowspan="1" сlass="addr">Описание</th>
    </tr>
    {% for rows in T %}
        <tr>
        <td><a href="/books/{{ rows.ID }}">{{  rows.NUMBER }}</a><br/>
            {% if rows.STATUS == 0 %}
            <a href="/books/{{ rows.ID }}/disable" title="В архив">x</a>
            {% else %}
            <a href="/books/{{ rows.ID }}/enable" title="Из архива">Активировать</a>
            {% endif %}
        </td>
        <td>{{  rows.DATEIN }}</td>
        <td>{{  rows.DATEOUT }}</td>
        <td>{{  rows.NAME }}</td>
        <td>{{  rows.PHONE }}</td>
        <td>{{  rows.ROOMS }}</td>
        <td>{{  rows.DESC }}</td>
        </tr>
    {% endfor %}

</table>
<div id="dl" title="Поиск">
    <form action="/search/" method="POST">
        {% csrf_token %}
    <table width="100%"><tr><td colspan="2"><div id="dl_code"></div></td></tr>
    <tr><td colspan="2"><input type="text" name="field_value"/></td></tr>
        <tr><td colspan="2"><input type="submit" name="family_search" value="Найти по фамилии"/></td></tr>
        <tr><td colspan="2"><input type="submit" name="family_search2" value="Второй по фамилии"/></td></tr>
        <tr><td colspan="2"><input type="submit" name="pn_search" value="Найти по паспорту"/></td></tr>
        <tr><td colspan="2"><input type="submit" name="code_search" value="Найти по коду"/></td></tr>
        <tr><td colspan="2"><input type="submit" name="putevka_search" value="Найти по путевке"/></td></tr>
    </table>
        </form>
</div>

</body>
</html>
