{% extends "pansionat/index.html" %}

{% block title %} Номера {%  endblock  %}

{% block head %}
    <link href="/static/dataTables/media/css/demo_table.css" rel="stylesheet" type="text/css" />
    <link href="/static/jquery-ui/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/Refresh.css" type="text/css" />

    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#rooms').dataTable();
            $.datepicker.setDefaults($.datepicker.regional['ru']);
            $('.datepicker').datepicker();
            $('input:sub').button()
            $(':button').button()
            $('#book').click(function(){
                $('#bookit').submit()
            })
            $('#order').click(function(){
                $('#bookit').submit()
            })
            } );
    </script>
 {%  endblock  %}

{% block mainmenu %}
    <ul>
        <li><a href="/patients">Пациенты</a></li>
        <li id="current"><a href="/rooms">Номера</a></li>
        <li><a href="/orders">Путевки</a></li>
        <li><a href="/reports">Отчеты</a></li>
    </ul>
 {%  endblock  %}

{% block content %}
        {% if patient  %}
            <table border="0">
                <tr>
                    <td><h3>Оформление заказа для пациента:</h3></td>
                    <td><h3>{{ patient.fio }}</h3></td>
                </tr>
            </table>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <table border="0">
                {% if msg == 1 %}
                    <tr><td colspan="4"><h3>Вы можете заселить только в одну комнату</h3></td></tr>
                {%  endif %}
                {% if msg == 2 %}
                    <tr><td colspan="4"><h3>Вы должны выбрать комнату для заселения</h3></td></tr>
                {%  endif %}
                <tr>
                    <td>Дата заселения:</td>
                    <td><input type="text" name="start_date" class = "datepicker" value = "{{ start_date }}"></td>
                    <td>Дата выезда:</td>
                    <td><input type="text" name="end_date" class = "datepicker" value = "{{ end_date }}"></td>
                </tr>
                <tr>
                    <td>Занят/Не занят:</td>
                    <td>
                        <select name="book_type" id="typeSelect">
                            <option value="All"{% if book_type == 'All' %} selected {% endif %}>Все</option>
                            <option value="Booked"{% if book_type == 'Booked' %} selected {% endif %}>Занятые</option>
                            <option value="NotBooked"{% if book_type == 'NotBooked' %} selected {% endif %}>Не занятые</option>
                            <option value="Empty"{% if book_type == 'Empty' %} selected {% endif %}>Пустые</option>
                        </select>
                    </td>
                    <td>Тип номера:</td>
                    <td>
                        <select name="room_type">
                            {% if room_type == None %}
                                <option value="" selected="selected">---------</option>
                            {% else %}
                                <option value="">---------</option>
                            {% endif %}
                            {% for type in types%}
                                {% if room_type != type.id %}
                                    <option value = "{{ type.id }}">{{ type.name }}</option>
                                {% else %}
                                    <option selected = "selected" value = "{{ type.id }}">{{ type.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>

            </table>
            <input type="submit" class="sub" value="Найти" class = "filter">
        </form>
        <form action="/book/handler/" method="POST" id="#bookit">
            {% csrf_token %}
            <table border="0">
                <tr>
                    <td>
                        <table border="0" id = "rooms" class = "display">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Номер</th>
                                    <th>Тип комнаты</th>
                                    <th>Кол-во мест</th>
                                    <th>Заселенные/Забронированые</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for room, orders, roombook_set, order_flag, book_flag, busy in book_list %}
                                    <tr>
                                        <td> <input type="checkbox" name="rooms" value="{{ room.id }}"/></td>
                                        <td> {{ room.name  }} </td>
                                        <td> {{ room.room_type.name}} </td>
                                        <td> {{ room.room_type.places }}/{{ busy }} </td>
                                        <td>
                                            <table>
                                            {% if order_flag %}
                                                <tr><th colspan="4">Путевки</th></tr>
                                            {% endif %}
                                            {% for order in orders %}
                                                <tr><td>{{ order.code }}</td>
                                                <td>{{ order.start_date_n }}</td>
                                                <td>{{ order.end_date_n }}</td>
                                                <td>{% if order.is_with_child %}МД{% endif %}</td>
                                                <td><a href="/patients/{{ order.patient.id }}/">{{ order.patient.family  }}</a></td>
                                                <td><a style="font-size: 8px;" href="/order/{{ order.id }}">ред</a></td>
                                                </tr>
                                            {% endfor %}
                                            {% if book_flag %}
                                                <tr><th colspan="4">Бронь</th></tr>
                                            {% endif %}
                                            {% for book in roombook_set %}
                                                <tr><td colspan="5">{{ book.phone }} {{ book.start_date_n }} {{ book.end_date_n }} {{ book.name }} <a style="font-size: 8px;" href="/delbook/{{ roombook.id }}">удалить</a></td></tr>
                                            {% endfor %}
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="start_date" value="{{ start_date }}"/>
                        <input type="hidden" name="end_date" value="{{ end_date }}"/>
                        {% if not patient %}
                            <button name='is_book' value="true" id="#book">Бронировать</button>
                        {% else %}
                            <input type="hidden" name="patient_id" value="{{ patient.id  }}"/>
                        {% endif %}
                        <button name='is_book' value="false" id="#order">Сформировать заказ</button>
                    </td>
                </tr>
            </table>
        </form>
{%  endblock  %}
