<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link href="/static/dataTables/media/css/demo_table.css" rel="stylesheet" type="text/css" />
        <link href="/static/jquery-ui/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="/static/main.css" rel="stylesheet" type="text/css" />

        <script src="/static/dataTables/media/js/jquery.js"></script>
        <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
        <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script> 
        <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script> 
        <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script> 
        <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
        <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#rooms').dataTable();
                $.datepicker.setDefaults($.datepicker.regional['ru']);
                $('.datepicker').datepicker();
                $('input:submit').button()
                } );
        </script> 

        <title>Rooms</title>
        
    </head>
    <body>
        <form method="POST"> 
            {% csrf_token %}
            <table border="0">
                <tr>
                    <td>Start date:</td>
                    <td><input type="text" name="start_date" class = "datepicker"></td>
                    <td>End date:</td>
                    <td><input type="text" name="end_date" class = "datepicker"></td>
                </tr>
                <tr>
                    <td>Is Booked:</td>
                    <td>
                        <select name="typeSelect" id="typeSelect">
                            <option value="All" selected>All</option>
                            <option value="Booked">Booked</option>
                            <option value="NotBooked">Not booked</option>
                        </select>
                    </td>
                    <td>Select type:</td>
                    <td>
                        <select name="type">
                            {% for type in types%}
                                <option value = "{{ type.name }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

            </table>
            <input type="submit" value="filter" class = "filter">
        </form>
        <form action="/bookit/" method="POST">
            {% csrf_token %}
            <table border="1" id = "rooms" class = "display">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Places</th>
                        <th>Users</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room, occupied_set in book_list%}
                        <tr>
                            <td> <input type="checkbox" name="rooms" value="{{ room.id }}"/></td>
                            <td> {{ room.name  }} </td>
                            <td> {{ room.type.name}} </td>
                            <td> {{ room.description }} </td>
                            <td> {{ room.type.places }} </td>
                            <td>
                                {% for occupied in occupied_set %}
                                    <a href="/patients/{{ occupied.order.patient.id }}/"> {{ occupied.order.patient.name  }} </a> &nbsp;
                                {% endfor %}
                                &nbsp;
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Book"/>
        </form>
    </body>
</html>
