{% extends "pansionat/index.html" %}

{% block title %} Номера {%  endblock  %}

{% block head %}
    <link href="/static/dataTables/media/css/demo_table.css" rel="stylesheet" type="text/css" />
    <link href="/static/jquery-ui/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/Refresh.css" type="text/css" />

    <script src="/static/dataTables/media/js/jquery.js"></script>
    <script src="/static/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.core.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.datepicker.js"></script>
    <script src="/static/jquery-ui/ui/i18n/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/jquery-ui/ui/jquery.ui.button.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#rooms').dataTable();
            $.datepicker.setDefaults($.datepicker.regional['ru']);
            $('.datepicker').datepicker();
            $('input:sub').button()
            $(':button').button()
            $('#book').click(function(){
                $('#bookit').submit()
            })
            $('#order').click(function(){
                $('#bookit').submit()
            })
            } );
    </script>
 {%  endblock  %}

{% block mainmenu %}
    <ul>
        <li><a href="/patients">Пациенты</a></li>
        <li id="current"><a href="/rooms">Номера</a></li>
        <li><a href="/orders">Путевки</a></li>
        <li><a href="/reports">Отчеты</a></li>
    </ul>
 {%  endblock  %}

{% block content %}
        <form method="POST">
            {% csrf_token %}
            <table border="0">
                <tr>
                    <td>Дата заселения:</td>
                    <td><input type="text" name="start_date" class = "datepicker" value = "{{ start_date }}"></td>
                    <td>Дата выезда:</td>
                    <td><input type="text" name="end_date" class = "datepicker" value = "{{ end_date }}"></td>
                </tr>
                <tr>
                    <td>Занят/Не занят:</td>
                    <td>
                        <select name="book_type" id="typeSelect">
                            <option value="All" selected>Все</option>
                            <option value="Booked">Занятые</option>
                            <option value="NotBooked">Не занятые</option>
                        </select>
                    </td>
                    <td>Тип номера:</td>
                    <td>
                        <select name="room_type">
                            {% if room_type == None %}
                                <option value="" selected="selected">---------</option>
                            {% else %}
                                <option value="">---------</option>
                            {% endif %}
                            {% for type in types%}
                                {% if room_type != type.name %}                                
                                    <option value = "{{ type.name }}">{{ type.name }}</option>
                                {% else %}
                                    <option selected = "selected" value = "{{ type.name }}">{{ type.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>

            </table>
            <input type="submit" class="sub" value="Найти" class = "filter">
        </form>
        <form action="/book/handler/" method="POST" id="#bookit">
            {% csrf_token %}
            <table border="0">
                <tr>
                    <td>
                        <table border="1" id = "rooms" class = "display">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Имя комнаты</th>
                                    <th>Тип комнаты</th>
                                    <th>Описание</th>
                                    <th>Кол-во мест</th>
                                    <th>Заселенные</th>
                                    <th>Забронированые</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for room, orders, roombook_set in book_list%}
                                    <tr>
                                        <td> <input type="checkbox" name="rooms" value="{{ room.id }}"/></td>
                                        <td> {{ room.name  }} </td>
                                        <td> {{ room.room_type.name}} </td>
                                        <td> {{ room.description }} </td>
                                        <td> {{ room.room_type.places }} </td>
                                        <td>
                                            {% for order in orders %}
                                                <a href="/patients/{{ order.patient.id }}/"> {{ order.patient.fio  }} </a> &nbsp;
                                            {% endfor %}
                                            &nbsp;
                                        </td>
                                        <td>
                                            {% for roombook in roombook_set %}
                                                {{ roombook.book.name }} &nbsp;
                                            {% endfor %}
                                            &nbsp;
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="start_date" value="{{ start_date }}"/>
                        <input type="hidden" name="end_date" value="{{ end_date }}"/>
                        <button name='is_book' value="true" id="#book">Бронировать</button>
                        <button name='is_book' value="false" id="#order">Сформировать заказ</button>
                    </td>
                </tr>
            </table>
        </form>
{%  endblock  %}
